@{
  Layout = "_Layout";
}

<h1>Factory Management System.</h1>

<div class="row">
  <div class="col-3">
    <h2>Engineers</h2>
    <ul>
    @foreach (var Engineer in ViewBag.Engineers)
    {
      <li>@Html.ActionLink($"{Engineer.Description}", "Details", "Engineers", new { id = Engineer.EngineerId })</li>
    }
    </ul>
  </div>

  <div class="col-3">
    <h2>Machines</h2>
    <ul>
      @foreach(var Machine in ViewBag.Machines)
      {
        <li>@Html.ActionLink($"{Machine.Name}", "Details", "Machines", new { id = Machine.MachineId })</li>
      }
    </ul>
  </div>
</div>